* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Robotobold.ttf");
    font-weight: bold;
}

body {
    font-family: Roboto, sans-serif;
}

.header {
    border-bottom: 1px solid #E5E5E5;
    padding: 25px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.header .container {
    align-items: center;
}

.logo img {
    vertical-align: bottom;
}
.header-content{
    display: flex;
    justify-content: space-between;
}

.menu-items {
    column-gap: 60px;
    list-style: none;
    display: flex;
}

.menu-item a {
    font-size: 15px;
    color: #3b3a38;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

.menu-item a:hover {
    border-bottom: 2px solid #3b3a38;
}

.main {
    background-image: url("../images/background.png");
    background-position: center;
    background-size: cover;
    padding: 104px 0 154px 0;
}

.main-info {
    max-width: 855px;
}

.main-title {
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: #030305;
    margin-bottom: 40px;
}

.main-text {
    font-size: 16px;
    line-height: 32px;
    color: #030305;
    margin-bottom: 40px;
    max-width: 502px;
}

.button {
    padding: 20px;
    width: 334px;
    height: 64px;
    background: #030305;
    border: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: background-color .5s;
}

.button:hover {
    cursor: pointer;
    background: #575757;
}

.car {
    padding: 100px 0;
}
.cars-content{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.sub-title {
    font-weight: bold;
    line-height: 70px;
    font-size: 60px;
    color: #030305;
}

.car-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.car-item {
    max-width: 384px;
    text-align: center;
    margin-top: 40px;
}

.car-item-image:hover img {
    transform: scale(1.1);
}

.car-item-image img {
    vertical-align: bottom;
    transition: all .3s;
}

.car-item-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #030305;
    padding: 15px 0 17px 0;
}

.car-item-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-item-point {
    width: 110px;
    height: 92px;
    margin: 0 7.5px;

}

.car-item-point img {
    margin-bottom: 11px;
}

.car-item-action {
    margin-top: 13px;
}

.car-item-action .button {
    width: 100%;
    padding: 15px;
    height: 54px;
}

.car-item-point > div:nth-child(2) {
    font-weight: bold;
}

.price {
    overflow: hidden;
}

.price .container {
    position: relative;
    padding-bottom: 121px;
}

.price .sub-title {
    margin-bottom: 20px;
}

.price-text {
    font-size: 16px;
    line-height: 130%;
    color: #5D5D5F;
    margin-bottom: 60px;
}

.price-form {
    max-width: 344px;
}

.price-input {
    padding: 22px 18px;
    width: 100%;
    height: 65px;
    background: #FFFFFF;
    border: 1px solid #5D5D5F;
    box-sizing: border-box;
    font-size: 16px;
    color: #000000;
    outline: none;
    margin-bottom: 15px;
}

.price-input::placeholder {
    color: #5D5D5F;
}

.price .button {
    width: 100%;
}

.price-image {
    position: absolute;
    bottom: 0;
    left: 401px;
}

.footer {
    border-top: 1px solid #E5E5E5;
    padding: 25px 0;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rights {
    font-size: 15px;
    color: #030305;
}

@media (max-width: 1200px) {
    .container {
        max-width: 980px;
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 800px;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 600px;
        margin: auto;
    }
    .main-title, .sub-title{
        font-size: 60px;
    }
    .header-content{
        flex-direction: column;
        align-items: center;
    }
    .menu-item {
        padding: 25px 0;
    }
    .car-item{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 280px;
        margin: auto;
    }
    .main-title, .sub-title{
        font-size: 45px;
    }
}